<h1>🌽 RETRO CORN BUYER 9000 🌽</h1>

<form (ngSubmit)="buyCorn()">
  <label>
    👤 Client ID:
    <br />
    <input type="number" [(ngModel)]="clientId" name="clientId" required />
  </label>
  <br />
  <label>
    🧺 Product ID:
    <br />
    <input type="number" [(ngModel)]="productId" name="productId" required />
  </label>
  <br /><br />
  <button type="submit">🌽 BUY CORN 🌽</button>
</form>

<p>{{ responseMessage }}</p>

<pre style="margin-top: 2rem; color: #aeea00;">
        🌽🌽🌽🌽🌽🌽🌽
       🌽         🌽
      🌽   CORN   🌽
       🌽         🌽
        🌽🌽🌽🌽🌽🌽🌽
</pre>
